

.content-circle{
    height: 300px;
}

/* tablets horizontal y escritorios normales */
@media only screen and (max-width: 1024px) {
    .content-circle{
        height: 220px;
    }
}
/* moviles en horizontal y tablets vertical */
@media only screen and (max-width: 768px) {
    .content-circle{
        height: 180px;
    }
    
}
/* moviles en vertical */
@media only screen and (max-width: 480px) {
    .content-circle{
        height: 75px;
    }
}

.bg-theme-1{
    background-color: #ffbd33;
}
.bg-theme-2{
    background-color: #1ef100;
}
.bg-theme-3{
    background-color: #95a8ff;
}
.container{
    position: absolute;
    bottom: 0;
}